body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #231515;
  color: #ffffff;
  margin: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#game-canvas {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  background-color: #000000;
}

#game-canvas p {
  margin: 0;
}

.player {
  color: #f00;
}

#game-input {
  box-sizing: border-box;
  display: block;
  margin: 1px;
  padding: 1px;
  font-size: 24px;
}