body, html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

header {
  position: fixed;
  align-items: center;
  padding: 10px;
}

#game-container {
  /* top: 100px; */
  /* position: relative; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

#company-logo {
  height: 40px;
  margin-right: 20px;
}

#timestamp {
  font-size: 18px;
}
#game-canvas {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  background-color: #000000;
}

#game-canvas p {
  margin: 0;
}

.player {
  color: #f00;
}

#game-input {
  font-family: 'Noto Sans SC', monospace;
  box-sizing: border-box;
  display: block;
  margin: 1px;
  padding: 1px;
  font-size: 24px;
}